*{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    margin-left: 43%;
    width:300px;
    padding: 30px;
    text-align: center;
}

.container{
    font-size: 12px;

}
.container a{
    text-decoration: none;
    margin-left: 40px;
    padding: 20px;
}

.container #foods{
    color: white;
    background: grey;
    border-radius: 10px;
    margin-left: 30%;
}

.container #drinks{
    color: white;
    background: grey;
    border-radius: 10px;
    margin-left: 40%;
}

.container #foods:hover{
    color: black;
    background: orange;
    box-shadow: 0 0 3px #e5edf1;
    box-shadow: 0 0 6px #e5edf1;
    box-shadow: 0 0 12px #e5edf1;
    box-shadow: 0 0 24px #e5edf1;
    box-shadow: 0 0 48px #e5edf1;
    box-shadow: 0 0 96px #e5edf1;
    box-shadow: 0 0 192px #e5edf1;
    border-radius: 10px;
    margin-left: 30%;
}

.container #drinks:hover{
    color: black;
    background: orange;
    box-shadow: 0 0 3px #e5edf1;
    box-shadow: 0 0 6px #e5edf1;
    box-shadow: 0 0 12px #e5edf1;
    box-shadow: 0 0 24px #e5edf1;
    box-shadow: 0 0 48px #e5edf1;
    box-shadow: 0 0 96px #e5edf1;
    box-shadow: 0 0 192px #e5edf1;
    border-radius: 10px;
    margin-left: 40%;
}

.button-a{
    width: 50px;
    height: 50px;
    text-align: center;
    top: 3px;
    left: 500px;
    position: relative;
    border: solid rgb(247, 247, 247);
    border-radius: 5px;
    transition-duration: .60s;
    background:url(img/update.png);
    background-size: cover;
}
.button2{
    box-shadown: 0 30px 60px rgba(0,0,0,.5);
}
.button2: hover{
    box-shadown: 0 5px 10px rgba(0,0,0,.5);
    transform: scale(.95);
}
.button-b{
    width: 50px;
    height: 50px;
    text-align: center;
    top: 3px;
    left: 854px;
    position: relative;
    border: solid rgb(247, 247, 247);
    border-radius: 5px;
    transition-duration: .60s;
    background:url(img/hapuss.png);
    background-size: cover;
}
.button2{
    box-shadown: 0 30px 60px rgba(0,0,0,.5);
}
.button2: hover{
    box-shadown: 0 5px 10px rgba(0,0,0,.5);
    transform: scale(.95);
}
